form{
    width: 50vw;
    height: 200px;
    border: 1px solid black;
}

div{
    width: 95%;
    display: flex;
    margin-top: 30px;
}

label{
    width: 100px;
    text-align: center;
    line-height: 30px;
}

input,select{
    flex-grow: 1;
    height: 30px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.addSubInput{
    margin-right: 20px;
}